# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
*.log
logs/
*.pid

# Node/React
node_modules/
frontend/**/build/
frontend/**/dist/
*.map

# Docker
docker-data/
*.tar

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp

# Kesh va yordamchi fayllar
CACHED/
=/
naming/
reading/
writing/
exporting/
transferring/
